<h1>All Auditoriums</h1>
<% @auditoriums.each do |auditorium| %>
  <h2><a href="/auditoriums/<%= auditorium.id %>">Auditorium <%= auditorium.id %></a></h2>
  <h3>Capacity: <%= auditorium.capacity %></h3>
  <p>Film Showing: <%= auditorium.film_playing %></p>
<% end %>

<h3><a href="/auditoriums/new">Create New Auditorium</a></h3>
<h3><a href="/showings/new">Create New Showing</a></h3>
