<h1>New auditorium</h1>
<%= form_tag "/auditoriums", method: :post do %>
  <div class="form-group">
    Capacity: <input class="form_control" type="text" name="form_capacity">
  </div>
  Film:
  <div class="form-group">
    <select class="form-control" name="form_film">
      <%= options_for_select(Film.all.collect {|f| [ f.name, f.id ] }, { include_blank: true }) %>
    </select>
  </div>
  <input type ="submit" value="Create Auditorium">
<% end %>
<p><a href="/manage">Manage Home</a></p>

<% if @auditorium.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@auditorium.errors.count, "error") %> prohibited this auditorium from being saved:</h2>

    <ul>
      <% @auditorium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>