<h1>All Films</h1>
<% @films.each do |film| %>
  <h2><%=film.name %></h2>
  <h3>Showing in the following auditoriums:</h3>
  <h3><% film.auditoriums.each do |auditorium| %>
    <a href="/auditoriums/<%= auditorium.id %>"><%= auditorium.id %>  </a>
  <% end %>
  </h3>
<% end %>
