<h1>Add New Film</h1>
<%= form_tag "/films", method: :post do %>
<div class="form-group">
  Name: <input class="form-control" type="text" name="form_name">
</div>
  <input type="submit" value="Add Film">
<% end %>

<% if @film.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

    <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>